#top {
  background-color: black;
  color: black;
}
.navbar {
  background-color: blue;
}

#works {
  border-radius: 2000pt;
  color: red;
  height: 250px;
  width: 250px;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  margin-left: 500px;
  margin-top: 200px;
}
body {
  background: gray;
}

#clip {
  border-radius: 2000pt;
  color: red;
  height: 150px;
  width: 150px;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  margin-left: 80px;
  margin-top: 80px;
}

.containers {
  display: flex;
}

iframe {
  margin-left: 200px;
  margin-top: 80px;
}
